{% extends 'auctions/layout.html' %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <section>
      <header>
        <h2>Watchlist</h2>
      </header>
      <div>
        {% if watchlist %}
          <ul>
            {% for item in watchlist %}
                <li>
                  <a href="{% url 'auctions:listing' item.id %}">
                    <div>
                      <figure>
                        <img src="{{ item.image }}" alt="Image of {{ item.title }}">
                      </figure>
                      <h3>{{ item.title }}</h3>
                      <p>{{ item.value }}</p>
                      <p>{{ item.description|slice:":128" }} ...</p>
                    </div>
                  </a>
                </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Your watchlist is empty.</p>
        {% endif %}
      </div>
    </section>
{% endblock %}